{% load static %}
                </div>
            </div>
        </div>
    </div>

    <script type="2d8d78e876b340f9029c575b-text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="2d8d78e876b340f9029c575b-text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="2d8d78e876b340f9029c575b-text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="2d8d78e876b340f9029c575b-text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="2d8d78e876b340f9029c575b-text/javascript" src="{% static 'js/waves.min.js' %}" ></script>
    <script type="2d8d78e876b340f9029c575b-text/javascript" src="{% static 'js/jquery.slimscroll.js' %}"></script>
    <script type="2d8d78e876b340f9029c575b-text/javascript" src="{% static 'js/jquery.flot.js' %}" ></script>
    <script type="2d8d78e876b340f9029c575b-text/javascript" src="{% static 'js/jquery.flot.categories.js' %}" ></script>
    <script type="2d8d78e876b340f9029c575b-text/javascript" src="{% static 'js/curvedlines.js' %}" ></script>
    <script type="2d8d78e876b340f9029c575b-text/javascript" src="{% static 'js/jquery.flot.tooltip.min.js' %}" ></script>
    <script type="2d8d78e876b340f9029c575b-text/javascript" src="{% static 'js/amcharts.js' %}" ></script>
    <script type="2d8d78e876b340f9029c575b-text/javascript" src="{% static 'js/serial.js' %}" ></script>
    <script type="2d8d78e876b340f9029c575b-text/javascript" src="{% static 'js/light.js' %}" ></script>
    <script type="2d8d78e876b340f9029c575b-text/javascript" src="{% static 'js/markerclusterer.js' %}" ></script>
    <script type="2d8d78e876b340f9029c575b-text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="2d8d78e876b340f9029c575b-text/javascript" src="{% static 'js/gmaps.js' %}"></script>
    <script type="2d8d78e876b340f9029c575b-text/javascript" src="{% static 'js/pcoded.min.js' %}" ></script>
    <script type="2d8d78e876b340f9029c575b-text/javascript" src="{% static 'js/vertical-layout.min.js' %}" ></script>
    <script type="2d8d78e876b340f9029c575b-text/javascript" src="{% static 'js/crm-dashboard.min.js' %}"></script>
    <script type="2d8d78e876b340f9029c575b-text/javascript" src="{% static 'js/script.min.js' %}"></script>     
    <script data-cf-settings="2d8d78e876b340f9029c575b-|49" src="{% static 'js/rocket-loader.min.js' %}" defer=""></script>

     