{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="row">
    <div class="col-md-4">
        <div class="card list-view-media">
            <div class="card-block">
                <div class="media">
                    <a class="media-left" href="#">
                        <img class="media-object card-list-img" src="jpg/avatar-2.jpg" alt="Generic placeholder image">
                    </a>
                
                    <div class="media-body">
                        <div class="col-xs-12">
                            <h6 class="d-inline-block">
                                {{ stockDetail.ResponsibleUser }} 
                            </h6>
                            <label class="label label-info">
                                {{ stockDetail.id }}
                            </label>
                    </div>
                    <div class="f-13 text-muted m-b-15">
                        {{ stockDetail.get_MovementStatus_display }}    
                    </div>
                    <p>
                        <th class="text-center font-weight-bold">
                            {{ stockDetail.CreationDate }} 
                        </th>
                    </p>
                    </div>
                </div>                    
            </div>
        </div>
    </div>


    <div class="col-xl-8 col-lg-8 col-sm-12">
        <div class="card table-card">
            <div class="card-header">
                <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                        <li class="first-opt"><i class="feather icon-chevron-left open-card-option"></i></li>
                        <li><i class="feather icon-maximize full-card"></i></li>
                        <li><i class="feather icon-minus minimize-card"></i></li>
                        <li><i class="feather icon-refresh-cw reload-card"></i></li>
                        <li><i class="feather icon-trash close-card"></i></li>
                        <li><i class="feather icon-chevron-left open-card-option"></i></li>
                    </ul>
                </div>
            </div>
        <div class="card-block">

        <table class="table table-sm table-hover m-b-0">
            <thead>
                <tr>
                    <th class="font-weight-bold">Produtos</th>
                    <th class="text-center font-weight-bold">Quantidade</th>
                    <th class="text-center font-weight-bold">Saldo</th>
                    <th class="text-center font-weight-bold">Data</th>
                </tr>
                </thead>
                <tbody>
                {% for i in stockDetail.Estoques.all %}
                    <tr>
                        {% comment %} <td class="text-center font-weight-bold">
                            {{ i.id }}
                        </td> {% endcomment %}
                        <td class=" font-weight-bold">                            
                            {{ i.FkProduct }}               
                        </td>
                        <td class="text-center font-weight-bold">
                            {{ i.Quantity }} 
                        </td>
                        <td class="text-center font-weight-bold">
                            {{ i.Balance }} 
                        </td>
                        <td class="text-center font-weight-bold">
                            {{ stockDetail.CreationDate }} 
                        </td>                               
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>
</div>

{% endblock content %}