{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card prod-p-card card-yellow">
            <div class="card-body">
                <div class="row align-items-center m-b-30">
                <div class="col">
                    <h6 class="m-b-5 text-white">Gêneros Alimenícios</h6>
                    <h3 class="m-b-0 f-w-700 text-white">12321</h3>
                </div>
                <div class="col-auto">
                    <i class="fa fa-coffee text-c-yellow f-18"></i>
                </div>
                </div>
                <p class="m-b-0 text-white"><span class="label label-light m-r-10">+11%</span>From Previous Month</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card prod-p-card card-blue">
            <div class="card-body">
                <div class="row align-items-center m-b-30">
                <div class="col">
                    <h6 class="m-b-5 text-white">Materiais de Escritório</h6>
                    <h3 class="m-b-0 f-w-700 text-white">15,830</h3>
                </div>
                <div class="col-auto">
                    <i class="fa fa-book text-c-blue f-18"></i>
                </div>
                </div>
                <p class="m-b-0 text-white"><span class="label label-primary m-r-10">+12%</span>From Previous Month</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card prod-p-card card-green">
            <div class="card-body">
                <div class="row align-items-center m-b-30">
                <div class="col">
                    <h6 class="m-b-5 text-white">Entradas no Estoque</h6>
                    <h3 class="m-b-0 f-w-700 text-white">$6,780</h3>
                </div>
                <div class="col-auto">
                    <i class="fa fa-plus-circle text-c-green f-18"></i>
                </div>
                </div>
                <p class="m-b-0 text-white"><span class="label label-success m-r-10">+52%</span>From Previous Month</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card prod-p-card card-red">
            <div class="card-body">
                <div class="row align-items-center m-b-30">
                <div class="col">
                    <h6 class="m-b-5 text-white">Destribuições</h6>
                    <h3 class="m-b-0 f-w-700 text-white">6,784</h3>
                </div>
                <div class="col-auto">
                    <i class="fa fa-minus-circle text-c-red f-18"></i>
                </div>
                </div>
                <p class="m-b-0 text-white"><span class="label label-danger m-r-10">+52%</span>From Previous Month</p>
            </div>
        </div>
    </div>
    </div>
    {% comment %} End of Widgets ROW {% endcomment %}

    <div class="row">
        <div class="col-md-12">
            <div class="card table-card">
                <div class="card-header">
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li class="first-opt"><i class="feather icon-chevron-left open-card-option"></i></li>
                            <li><i class="feather icon-maximize full-card"></i></li>
                            <li><i class="feather icon-minus minimize-card"></i></li>
                            <li><i class="feather icon-refresh-cw reload-card"></i></li>
                            <li><i class="feather icon-trash close-card"></i></li>
                            <li><i class="feather icon-chevron-left open-card-option"></i></li>
                        </ul>
                    </div>
                </div>
            <div class="card-block">
        <div class="table-responsive">
            {% if object_list %}
            <table class="table table-hover m-b-0">
                <thead>
                    <tr>
                        <th>Descrição</th>
                        <th class="text-center font-weight-bold">Estoque Atual</th>
                        <th class="text-center font-weight-bold">Estoque Minimo</th>
                        <th>Categoria</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in object_list %}
                        <tr>
                            <td class="font-weight-bold"> <a href="{% url 'product:detail_product' item.pk %} ">{{ item.ProdutctsName }}</a></td>
                            <td class="text-center font-weight-bold">{{ item.CurrentStock }}</td>
                            <td class="text-center font-weight-bold">{{ item.MinimumStock }} <label class="label label-success">Ok</label></td>
                            <td>Materiais de Escritório</td>
                        </tr>
                    {% endfor %}                    
                    </tbody>
            </table>
            
            {% else %}
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card text-white card-danger">
                    <div class="card-header">Alerta</div>
                        <div class="card-body">
                        <h5 class="card-title">Não existem produtos cadastrados!</h5>
                        <p class="card-text">Incie o cadastro dos produtos conforme indicado na Documentação do <a href="#">Manual</a></p>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</div>
<div id="styleSelector"></div>


{% endblock content %}